<div class="row">
    <div class="col-12">
        Account Created Successfully!
    </div>
    <div class="col-12">
        <a asp-controller="Account" asp-action="Login" role="button" class="btn btn-primary">Back to Log In</a>
    </div>

</div>