@model UserAccountBuilder
@{
    ViewData["Title"] = "Create Account";
}

<form class="row" asp-controller="Account" asp-action="Create" method="post">

    <label class="col-md-3 col-12" asp-for="FirstName">First Name</label>
    <input class="col-md-9 col-12" asp-for="FirstName" />

    <label class="col-md-3 col-12" asp-for="LastName">Last Name</label>
    <input class="col-md-9 col-12" asp-for="LastName" />

    <label class="col-md-3 col-12" asp-for="Email">Email Address</label>
    <input class="col-md-9 col-12" asp-for="Email" />

    <label class="col-md-3 col-12" asp-for="Password">Password</label>
    <input class="col-md-9 col-12" asp-for="Password" />

    <label class="col-md-3 col-12" asp-for="VerifyPassword">Verify Password</label>
    <input class="col-md-9 col-12" asp-for="VerifyPassword" />

    @foreach (string err in (List<string>)ViewData["validationIssues"])
    { 
        <p class="col-12">@err</p> 
    }


    <input class="col-md-8 col-12" type="submit" />
</form>